@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

/* General Styles */
html {
	height: auto;
}

 body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(77, 56, 183, 0.256);
    font-family: 'Montserrat Alternates', sans-serif;
	min-height: 100%;
}

header {
    width: 100%;
    padding-top: 20px;
    font-size: 33px;
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
	
	
}

nav {
    color: #161515;
    width: 95%;
    padding-top: 20px;
    text-align: right;
    position: absolute;
}

nav a {
    text-decoration: none;
    color: #161515;
    padding: 10px;
}

nav a:hover {
    color: purple;
}

.logo {
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 40px;
    letter-spacing: 15px;
}



.kontakt-container {
    
	margin: 20px;
    padding: 20px;
    font-size: 14px;
	
	bottom: 0;
}

.kontakt-container a {
    text-decoration: none;
    color: rgba(149, 22, 194, 1);
    font-size: 24px;
}

.kontakt a:hover {
    color: rgba(149, 22, 194, 1);
}

.lokal {
	position: absolute;
    left: 5px;
    bottom: 10px;
  

}
.padding { padding: 20px; }

.socialmedia {
    position: absolute;
    right: 5px;
    bottom: 10px;
	font-size: 28px;
	
    
}

.social-icons {
    display: flex;
    align-items: center;
    
}

.social-icons a {
    color: white;
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: purple;
}

/* Container and Section Styles */
.container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    height: 800px;
    width: 100%;
}

.section-left {
    width: 40%;
    height: 400px;
    position: absolute;
    left: 75px;
    top: 220px;
    border: 4px solid rgb(213, 85, 175);
}

.zitate {
    font-size: 30px;
    letter-spacing: 15px;
    font-style: italic;
    color: black;
}

.wilkommen {
    font-size: 35px;
	
}

.section-right {
    width: 30%;
    height: 657px;
    position: absolute;
    right: 10rem;
    top: 180px;
    font-size: 35px;
    letter-spacing: 15px;
    text-align: left;
}

.section-right h2, .section-right p, .section-right a {
    transition: transform 1.6s cubic-bezier(0.42, 0, 0.58, 1), color 0.4s ease;
}

.section-right p:hover, .section-right a:hover {
    transform: translateY(-10px);
    color: #0066cc;
}

a:hover {
    font-weight: 900;
}

/* Additional Styles */
.gradient-border {
    position: relative;
    border-radius: 3px;
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: 6px;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    z-index: -1;
}

@keyframes animatedgradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


@media screen and (max-width:1530px) {

nav {display:none}
}
